
/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #d8ebff;
}

/* Navbar styling */
.navbar {
  margin-bottom: 20px;
}

/* Navbar brand styling */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navbar link styling */
.nav-link {
  font-size: 1.1rem;
  margin: 0 10px;
  color: #fff; /* Ensure links are white on dark background */
}

.nav-link:hover {
  color: #ddd; /* Change link color on hover for better visibility */
}

/* Container styling */
.container {
  padding-top: 20px;
}

/* Home page specific styling */
.home {
  text-align: center;
  margin-top: 50px;
}




/* Input field styling for home page */
.home .form-control {
  width: 50%;
  margin: 10px auto;
}

/* Button styling for home page */
.home .btn {
  margin: 10px auto;
  width: 50%;
 

}

/* Page header styling */
.page-header {
  margin-bottom: 20px;
}

/* Page content styling */
.page-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
