.products-page-wrapper {
  position: relative;
}

.total-price {
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #00ff0d;
  top: 20px;
  right: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.products-page {
  padding: 20px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 15px;
}

.btn {
  margin-top: auto;
  width: 100%;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}

.dropdown {
  margin-top: auto;
  padding: 10px;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  cursor: pointer;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-description {
  font-size: 1rem;
  color: #666;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #009688;
}

.buy-button {
  margin-top: 1rem;
}

.container-page-content{
  background-color: #009688;
}